.live-stream {
    position: absolute; /* 16:9 aspect ratio */
  }
  
  .react-player {
    position: absolute;
    top: 0;
    left: 0;
    /* width: 100% !important;
    height: 100% !important; */
  }
  